<h1 mat-dialog-title> Create New User</h1>
<form [formGroup]="userForm"(ngSubmit)="onCreate()">
    <p>
        <mat-form-field appearance="fill">
          <mat-label>First Name</mat-label>
          <input matInput maxlength="20" formControlName="firstName">
          <div *ngIf="firstName?.invalid && (firstName?.dirty || firstName?.touched)" class="alert">
            <mat-error *ngIf="firstName?.errors?.['required']">Please enter a First Name</mat-error>
            <mat-error *ngIf="firstName?.errors?.['pattern']">Must contain Letters</mat-error>
        </div>
          <mat-hint>Max 20 characters</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Last Name</mat-label>
          <input matInput maxlength="25" formControlName="lastName">
          <div *ngIf="lastName?.invalid && (lastName?.dirty || lastName?.touched)" class="alert">
            <mat-error *ngIf="lastName?.errors?.['required']">Please enter a Last Name</mat-error>
            <mat-error *ngIf="lastName?.errors?.['pattern']">Must contain Letters</mat-error>
        </div>
          <mat-hint>Max 25 characters</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Email</mat-label>
          <input matInput placeholder="someone@example.com" formControlName="email">
          <div *ngIf="email?.invalid && (email?.dirty || email?.touched)" class="alert">
            <mat-error *ngIf="email?.errors?.['required']">Please enter an email address</mat-error>
            <mat-error *ngIf="email?.errors?.['email']">Not a valid email address</mat-error>
        </div>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Phone</mat-label>
          <input matInput formControlName="phone">
          <div *ngIf="phone?.invalid && (phone?.dirty ||phone?.touched)" class="alert">
            <mat-error *ngIf="phone?.errors?.['required']">Please enter a phone number</mat-error>
            <mat-error *ngIf="phone?.errors?.['pattern']">Is not a valid phone </mat-error>
            </div>
          <mat-hint>ex +123456789</mat-hint>
        </mat-form-field>
      </p>
      <p>
        <mat-form-field appearance="fill">
          <mat-label>Image</mat-label>
          <input matInput formControlName="image">
        </mat-form-field>
        <br>
        <mat-label>Or Upload Image</mat-label>
        <input type="file" class="file-input"
        (change)="onFileSelected($event)" #fileUpload requiredFileType="image/png" style="display:none;">
          <div class="file-upload">
          
              {{fileName || "No file uploaded yet."}}
          
              <button mat-mini-fab color="primary" class="upload-btn"
                (click)="fileUpload.click()">
                  <mat-icon>attach_file</mat-icon>
              </button>
          </div>

      <button mat-raised-button mat-dialog-close color="basic">Close</button>
      <button style="margin-left: 8px;" mat-raised-button color="primary"[disabled]="userForm.invalid" type="submit">Save</button>
</form>