.create img{
    position: relative;
    object-fit: cover;
}

.create .overlay{
    position: absolute;
    top: 15%;
    left: 40%;
}

.createUserForm {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.mat-card-title {
    color: rgb(0, 0, 0);
    text-align: center;
    border: 5px solid;
    border-radius: 20em;
}

.mat-card {
    background: linear-gradient(to bottom, rgb(205, 205, 205),rgb(117, 115, 117));
    color: rgb(0, 0, 0);
}

.upload-btn{
    color: black;
    background-color: aliceblue;
}

.file-upload{
    color: black;
}

.file-input {
    display: none;
}

.createButton{
    background-color: rgb(0, 0, 0);
    color: white;
}