<div class="container-fluid">
  <mat-toolbar color="primary">
    <a mat-stroked-button href=""><mat-icon>home</mat-icon></a> 
    <button mat-stroked-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
    <button mat-stroked-button (click)="goForward()"><mat-icon>arrow_forward</mat-icon></button> 
   <h1>User Details</h1> 
  </mat-toolbar>
  

<div *ngIf="user">
  <mat-card class="example-card">
    <mat-card-title-group>
      <mat-card-title>{{user.firstName}} {{user.lastName}}</mat-card-title>
      <mat-card-subtitle style="margin-top: 10px" class="maticon"><mat-icon>perm_contact_calendar</mat-icon> ID: {{user.id}}</mat-card-subtitle>
      <a href="{{user.image}}" target="_blank" rel="noopener noreferrer"><img mat-card-md-image src={{user.image}} > </a>
    </mat-card-title-group>
    <mat-card-content class="maticon">
      <mat-icon >phone</mat-icon>  <a mat-stroked-button class="matcard" href="tel:{{user.phone}}" target="_blank">{{user.phone}}</a>
      <mat-icon>email</mat-icon>  <a mat-stroked-button class="matcard" href="mailto:{{user.email}}" target="_blank">{{user.email}}</a>
    </mat-card-content>
  </mat-card><br>


 
    <p>Number of products: {{productsfinal.length}}</p>
    <button class="button2" mat-flat-button color="primary" (click)="click2()">{{ReadMore?"View Products":"Hide Products"}}</button>

    <ng-container *ngIf="visible">
      <li *ngFor="let product of productsfinal; let i=index">
        Product {{i+1}}:
          <br>
   
          <mat-card class="example-card">
           <mat-card-title-group>
             <mat-card-title>{{product.title}} </mat-card-title>
             <mat-card-subtitle style="margin-top: 10px" class="maticon"><mat-icon>perm_contact_calendar</mat-icon> ID: {{product.id}}</mat-card-subtitle>
             <a href="{{product.thumbnail}}" target="_blank" rel="noopener noreferrer"><img mat-card-md-image src={{product.thumbnail}} > </a>
           </mat-card-title-group>
           <mat-card-content class="maticon">
             Category: {{product.category}} <br> Brand: {{product.brand}} <br>
             Description: {{product.description}}
           </mat-card-content>
         </mat-card>
          <br>
       </li>


    </ng-container>
    
  <br>
  
    <h1>{{user.firstName | uppercase}} Details</h1>

    
    <div>
      

      <mat-icon>perm_contact_calendar</mat-icon> <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>ID</mat-label>
        <input matInput disabled value={{user.id}}>
      </mat-form-field> <br>

      <mat-icon>person_outline</mat-icon> <mat-form-field class="example-form-field" appearance="outline">
        <mat-label>First Name</mat-label>
        <input matInput id="firstname" [(ngModel)]="user.firstName" ngModel name="firstname1" #firstname1="ngModel"  pattern="[A-Za-z]{2,50}" placeholder="First name" required />
        <mat-error>Valid First Name is required</mat-error>
      </mat-form-field> <br>

      <mat-icon>person</mat-icon><mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Last Name</mat-label>
        <input matInput id="user-lastName" ngModel name="lastname1" #lastname1="ngModel" [(ngModel)]="user.lastName" pattern="[A-Za-z]{2,50}" placeholder="Last name" required />
        <mat-error>Valid Last Name is required</mat-error>
      </mat-form-field> <br>

      <mat-icon> email</mat-icon><mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Email</mat-label>
        <input matInput id="user-email" type="email" ngModel name="email1" #email1="ngModel" [(ngModel)]="user.email" pattern="^[\w]{1,}[\w.+-]{0,}@[\w-]{1,}([.][a-zA-Z]{1,}|[.][\w-]{1,}[.][a-zA-Z]{1,})$" placeholder="Email" required/>
        <mat-error>Valid Email is required</mat-error>
      </mat-form-field> <br>

      <mat-icon> phone</mat-icon><mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Phone</mat-label>
        <input matInput type="tel" id="user-phone" ngModel name="tel1" #tel1="ngModel"  [(ngModel)]="user.phone" pattern="[+][0-9 ]+" placeholder="+123 456 789 012" required/>
        <mat-error>Valid Phone Number is required</mat-error>
      </mat-form-field> <br>
      
      <mat-icon>link</mat-icon><mat-form-field class="example-form-field" appearance="outline">
        <mat-label>Image URL/Base64</mat-label>
        <input matInput type="text" id="user-image" ngModel name="url1" #url1="ngModel" [(ngModel)]="user.image" pattern="(https?:\/\/(www\.)?[-a-zA-Z0-9@:%._\+~#=]{2,256}\.[a-z]{2,4}\b([-a-zA-Z0-9@:%_\+.~#?&//=]*)(.jpg|.png|.gif|))|(^data:image.*)" required placeholder="Image Url"/>
        <mat-error>Valid Link/Base64 is required</mat-error>
      </mat-form-field> <br>

      <img src="{{user.image}}"/> <br>
              
    </div>
    
    <br>
    <input #ImageInput hidden="true" type="file" onclick="this.value=null" (change)="onChange($event)" accept="image/*"/>
  <button mat-flat-button class="button2" color="primary" (click)="ImageInput.click()">Upload Image</button>
 
    <div *ngIf="myimage">
      <h1>Image Preview:</h1>
      <img [src]="myimage" width="200px" height="100px" alt="" /> <br>
      <button class="button2" mat-flat-button color="primary" (click)="user.image=base64code">Use the above image</button>
      <button class="button2" mat-flat-button color="primary" (click)="myimage=''">Remove image</button>


    </div> 
    <br>     
    <button mat-flat-button color="primary" class="button2" [disabled]="firstname1.invalid || lastname1.invalid || email1.invalid || tel1.invalid || url1.invalid" (click)="save()">Update User</button>
  </div>