/* HeroDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
    
  }
  h1{
    margin-left:10px;
  }
  
  button.button2 {
    padding: 14px 28px;
    border-radius: 4px;
    font-size: 1rem;
    margin: 10px;
    justify-content: center;

  }
  button.button2:hover {
    background-color: #682968;
  } 
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  img {
    border-radius: 50%;
    border: 1px solid #ddd;
  padding: 5px;
  width: 150px;
  } 
  .example-card {
    max-width: 400px;
  }