/* HeroDetailComponent's private CSS styles */
label {
    color: #435960;
    font-weight: bold;
    margin: 10px;
    
  }
  h1{
    margin-left:10px;
  }
  
  button.button2 {
    padding: 14px 28px;
    border-radius: 4px;
    font-size: 1rem;
    margin: 10px;
    justify-content: center;

  }
  button.button2:hover {
    background-color: #682968;
  } 
  button:disabled {
    background-color: #eee;
    color: #ccc;
    cursor: auto;
  }
  img {
    border-radius: 50%;
    border: 1px solid #ddd;
  padding: 5px;
  width: 150px;
  margin-left: 10px;
  margin-bottom: 10px;
  } 
  .example-card {
    max-width: 400px;
    align-items: center;
    margin:10px;


  }
  
 .matcard{
  align-items: center;
  margin-right: 10px;
  
}

a.example-card{
  align-items: center;
}

.maticon{
  align-items: center;
  display:flex;
}

mat-icon {
  margin-right: 10px;
  align-items: center;
  margin-left: 10px;
  
}
