<div class="container-fluid">
  <mat-toolbar color="primary">
    Title
  </mat-toolbar>

<div id="search-component">
 
    <label for="search-box">User Search</label><br>
    <p>Search via:</p>
    <select (change)="searchoption($event)">
      <option value="id">ID</option>
      <option value="firstName">First Name</option>
      <option value="lastName">Last Name</option>
      <option value="email">Email</option>
      <option value="phone">Phone</option>
      <option value="image">Image URL</option>
  </select>
     <br>
 
    <input #searchBox id="search-box" (input)="search(searchBox.value)" /> <br>

  
    <ul class="search-result">
      <li *ngFor="let user of users$ | async" >
        <a routerLink="../users/detail/{{user.id}}">
          {{user.firstName}} {{user.lastName}}
        </a>
      </li>
    </ul>
  </div>