<mat-toolbar color="primary">
        <a mat-stroked-button href=""><mat-icon>home</mat-icon></a> 
        <button mat-stroked-button (click)="goBack()"><mat-icon>arrow_back</mat-icon></button>
        <button mat-stroked-button (click)="goForward()"><mat-icon>arrow_forward</mat-icon></button> 
       <h1>Add Users</h1> 
      </mat-toolbar>

<div *ngIf="messageService.messages.length">

    <h2>Messages</h2>
    <button mat-stroked-button color="primary" type="button" class="clear"
            (click)="messageService.clear()">Clear messages</button>
    <div *ngFor='let message of messageService.messages'> {{message}} </div>
  
  </div>