table {
    width: 100%;
    background-color: #2980d8;
  }

h1 {
  text-align: center;
  color:rgb(0, 0, 0);
}

th {
  color: black;
  background-color: rgb(211, 37, 37);
}

img {
  border-radius: 100%;
  border-color: black;
  border-style: double;
}

.mat-raised-button{
  color:rgb(0, 0, 0);
}

.filterInput{
  box-shadow: 0 10px 20px 0 rgb(128, 22, 152);
  color: rgb(132, 0, 255);
  border: blueviolet solid 2px;
  border-radius: 2em;
}

.filterInput::placeholder{
  color: blueviolet;
  background: linear-gradient(to right, white, rgb(144, 84, 199))
}