.mat-elevation-z8{
  background: rgb(182, 179, 179);
  border-radius: 1em;
}

table {
    width: 100%;
    background-color: rgba(157, 160, 161, 0.43)
  }

h1 {
  text-align: center;
  color:rgb(0, 0, 0);
}

th {
  color: white;
  background-color: rgba(61, 59, 59, 0.999);
}

img {
  border-radius: 100%;
  border-color: black;
  border-style: double;
  transition: transform .3s;
}

img:hover{
  transform: scale(2);
} 

.mat-raised-button{
  color:rgb(0, 0, 0);
  transition: transform .3s;
}

.mat-raised-button:hover{
  transform: scale(1.65);
}

.mat-paginator{
  border-radius: 1em 1em;
  background: rgb(182, 179, 179);
}

.filterInput{
  box-shadow: 0 10px 20px 0 rgb(0, 0, 0);
  color: rgb(0, 0, 0);
  padding: 3px;
  border-radius: 10em;
  text-align: center;
  background: linear-gradient(to right, rgb(198, 196, 199), rgb(82, 82, 89))
}

.filterInput::placeholder{
  color: rgb(0, 0, 0);
  background: linear-gradient(to right, rgb(198, 196, 199), rgb(82, 82, 89))
}

.searchIcon{
  border: solid 2px;
  padding: 2px;
  position: relative;
  border-radius: 5em;
  top: 8px;
  background: rgba(128, 130, 131, 0.43)
}