.createUserForm {
    width: 100%;
    display: flex;
    flex-direction: column;
    /* align-items: flex-start; */
}

.mat-card-title {
    color: blueviolet;
    text-align: center;
}

.mat-card {
    background: rgba(160, 157, 157, 0.305)
}

.file-upload{
    color:blueviolet;
}

.file-input {
    display: none;
}
