.createUserForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-card-title {
    color: blueviolet;
}

.mat-card {
    background: rgba(160, 157, 157, 0.305)
}
.file-upload{
    color:#7004a2;
}

.file-input {
    display: none;
}
