.createUserForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.mat-card-title {
    color: #7004a2;
}

.mat-card {
    background: rgb(230, 207, 5);
}
.file-upload{
    color:#7004a2;
}

.file-input {
    display: none;
}
