.example-container {
  height: 100%;
  
  border: 1px solid #555;
}
 .btn-group button {
  background-color: #6837acd1; 
  border: 1px solid black; 
  color: white;
  margin-left: 10px; 
  margin-bottom:20px;
  margin-right: 10px;
  margin-top: 10px;
  cursor: pointer;
  width: 90%; 
  display: block;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #682968;
}