.example-container {
  height: 100%;
  margin: 10px;
  border: 1px solid #555;
}
 .btn-group button {
  background-color: #6837acd1; 
  border: 1px solid black; 
  color: white;
  margin-bottom: 10px; 

  cursor: pointer;
  width: 100%; 
  display: block;
}

.btn-group button:not(:last-child) {
  border-bottom: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
  background-color: #682968;
}