h1{
    text-align: center;
    background-color: purple;
    color: white;
}

.updateForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.file-input {
    display: none;
  }