h2{
    text-align: center;
    background-color: rgb(98, 18, 210);
    color: white;
}

.updateForm {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.file-input {
    display: none;
  }