h1{
    margin:10px;
    text-align: center;
    font-weight: bold;
}

h2 {
  margin-left: 10px;
}

  .btn {
    text-align: center;
  }
  
button:hover {
    background-color: #682968;
  } 

  mat-icon {
    margin-right: 10px;
    align-items: center;
    margin-left: 10px;
    
  }
  