table {
    width: 100%;
    background-color: rgb(26, 115, 193);
  }

h1 {
  text-align: center;
  color:rgb(0, 0, 0);
}

th {
  color:rgb(2, 2, 6);
  background-color: rgb(255, 0, 0);
}

img {
  border-radius: 100%;
  border-color: black;
  border-style: double;
}

th.mat-sort-header-sorting {
  color: rgb(0, 55, 255);
}