<!--Angular Material Table-->
<div style="width:1500px" class="mat-elevation-z8">
    <mat-form-field>
        <mat-label>Click here to search</mat-label>
        <input matInput placeholder="Search" (keyup)="filterBar($event)">
    </mat-form-field>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

        <!-- User ID Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by id"> User ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
        </ng-container>

        <!-- First Name Column -->
        <ng-container matColumnDef="firstName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by firstName"> First Name
            </th>
            <td mat-cell *matCellDef="let element"> {{element.firstName}} </td>
        </ng-container>

        <!-- Last Name Column -->
        <ng-container matColumnDef="lastName">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by lastName"> Last Name
            </th>
            <td mat-cell *matCellDef="let element"> {{element.lastName}} </td>
        </ng-container>

        <!-- User Email Column -->
        <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by email"> Email </th>
            <td mat-cell *matCellDef="let element"> {{element.email}} </td>
        </ng-container>

        <!-- User Phone Column -->
        <ng-container matColumnDef="phone">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by phone"> Phone </th>
            <td mat-cell *matCellDef="let element"> {{element.phone}} </td>
        </ng-container>

        <ng-container matColumnDef="image">
            <th mat-header-cell *matHeaderCellDef> Image </th>
            <td mat-cell *matCellDef="let element">
                <img src={{element.image}} width="50" height="50">
            </td>
        </ng-container>

        <!-- Update User Column -->
        <ng-container matColumnDef="update">
            <th mat-header-cell *matHeaderCellDef> Update User </th>
            <td mat-cell *matCellDef="let element">
                <button mat-raised-button color="primary" (click)="updateUserFunction(element)">Update</button>
            </td>
        </ng-container>

        <!-- Delete User Column -->
        <ng-container matColumnDef="delete">
            <th mat-header-cell *matHeaderCellDef> Delete User </th>
            <td mat-cell *matCellDef="let element">
                <a routerLink="delete">
                    <button mat-raised-button color="warn" (click)="deleteUserFunction(element.id)">Delete</button>
                </a>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="100" [pageSize]="10" [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page">
    </mat-paginator>

</div>