<h1>Angular Internship</h1>
<hr>
<h2>Purpose</h2>
<hr>

<div>
    <ul>
        <li>This project is to be used as a base project for assessing your abilities developing Angular frontend projects</li>
        <li>Currently, it's only a very basic project.</li>
        <li>Its only functionality is to be a CRUD app for managing users.</li>
    </ul>
</div>
<h2>Goal of the application</h2>
<hr>
<p>Manage users through a HTTP Rest API. The user has just enough properties to identify as such.</p>
<h2>Getting started</h2>
<hr>
<p>In order to start working and running the application:</p>
<div>
    <ol>
        <li>Download/Install node.js</li>
        <li>Download/Install vscode</li>
        <li>Install and run your first angular app[Guide]<a href="https://angular.io/guide/setup-local">https://angular.io/guide/setup-local</a></li>
    </ol>
</div>
<hr>
<h2>Backend</h2>
<hr>
<p>There is already an implemented backend for supporting the assessment goal, so you don't need to implement a backend. <a href="http://onelity.azurewebsites.net">http://onelity.azurewebsites.net</a></p>

<h3>Important notes</h3>
<div>
    <ul>
        <li>If you encounter any issue regarding the responsiveness of the backend, please be patient as the server goes idle when not in use.</li>
        <li>The data may change during your implementation, this is expected. You are not the sole user of the API.</li>
        <li>Basic guidelines on how to use the endpoints, will be provided below. For more information regarding the supported requests consider this [Guide]<a href="https://github.com/typicode/json-server">https://github.com/typicode/json-server</a></li>
    </ul>
</div>

<h2>The User entity</h2>
<hr>
<p>The entity is very simple</p>                                                                                                                                             
<mat-card>
    <p>id: number;</p>
    <p>firstName: string;</p>
    <p>lastName: string;</p>
    <p>email: string;</p>
    <p>phone: string;</p>
    <p>image: string; // contains a url to an image or a base64 encoding of it</p>
</mat-card>
<br>
<h2>Tasks</h2>
<hr>
<p>You will need to add the appropriate pages for the following tasks, which should be accessible by the UI (side menu and/or buttons)</p>
<h3>View the current users</h3>
<p>Add a page to list the current users with all their info and their image. For this you will need to use the GET /users endpoint</p>
<ul>
    <li>Paging, filtering, and sorting is also desired</li>
    <li>You can choose if you want to do it client-side or server-side (read the guide on how you can use the backend for serverside operations)</li>
</ul>
<br>
<h3>Create/Update a user</h3>
<p>Add a page to create/update a user. For this you will need to use the POST /users endpoint, for the creation, and the PUT/users/[the user's id] endpoint.</p>

<div>
    <ul>
        <li>Create a form for the user to populate all the properties of the user. All are required. You should also add some validation (eg length, email format)</li>
        <li>For the ID property, it is not going to be a user input. You must not include it in the request you will make. It will be generated by the backend.</li>
        <li>For the image property, the user must either enter a URL or select an image to upload. For the later, you should encode the image to base64 format and store it in the image property.</li>
    </ul>
</div>
<br>
<h3>Delete a user</h3>
<p>Add functionality to delete a user. For this, use the DELETE /user/[the user's id] endpoint</p>
<br>
<h3>Testing (optional)</h3>
<p>Although not required, if you implement some unit or e2e testing, it will be a plus</p>
<h3>Generic guides</h3>
<div>
    <ul>
        <li>Try to organize and structure your code as best as you can. A nicely written and readable code will be a big plus.</li>
        <li>Utilize modules and components, don't write everything in one file/go.</li>
        <li>Style your templates and use UI/UX best practices.</li>
        <li>Utilize services and dependency injection.</li>
        <li>Use routes</li>
    </ul>
</div>
<h2>Commit your progress</h2>
<hr>
<p>Create a new branch from main and push your progress there.</p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>